# Dependências
/vendor/
/node_modules/

# Configurações sensíveis
/config/config.php

# Uploads dinâmicos
/public/assets/images/uploads/*
!/public/assets/images/uploads/.gitkeep

# Logs
*.log

# Sistema operacional
.DS_Store
Thumbs.db
